*{
    padding: auto;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    
    font-family: 'Montserrat', sans-serif;}
body{
    background-image: url(./logo/golden2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header{
    background: #f7a386;
    height: 115px;
    width: 100%;
    text-align: right ;
    
}
 ul{
    float: center;
    margin-right: 40px;
   
}
ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
}
ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.logo img{
    float: left;
    width: 150px;
    }
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    max-width: 360px;
    margin:0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: 'Montserrat', sans-serif;
    outline: 1;
    background: #f2f2f2;;
    width: 100%;
    border: 0;
    margin: 10px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f7a386;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active{
    background: #f7a386 ;
}
.form .message{
    margin: 15px 0 0;
    color: blue;
    font-size: 12px;
}
.form .message a{
    color: #f7a386;
    text-decoration: none;
}
.form .register-form{
    display: none;
}